<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Coffee_Shop_Management_System.Properties.Settings.Shop_DBConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Shop_DB;Integrated Security=True;Encrypt=True"
            providerName="System.Data.SqlClient" />
        <add name="Coffee_Shop_Management_System.Properties.Settings.OOPConnectionString"
            connectionString="Data Source=34.176.57.189;Initial Catalog=OOP;Persist Security Info=True;User ID=sqlserver;Password=Lak@2302;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>